body{
    background-color: rgb(158, 235, 245);
}

header{
    background-color: rgb(126, 126, 255);
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}